thesis/thesis.aux
thesis/thesis.blg
thesis/thesis.lof
thesis/thesis.log
thesis/thesis.lot
thesis/thesis.out
thesis/thesis.pdf
thesis/thesis.preamble.aux
thesis/thesis.preamble.tex
thesis/thesis.toc
thesis/uhead.sty
thesis/thesis-blx.bib
thesis/thesis.bbl
thesis/thesis.bcf
thesis/thesis.run.xml

*-eps-converted-to.pdf
