thesis/thesis.aux
thesis/thesis.blg
thesis/thesis.lof
thesis/thesis.log
thesis/thesis.lot
thesis/thesis.out
thesis/thesis.preamble.aux
thesis/thesis.preamble.tex
thesis/thesis.toc
thesis/uhead.sty
thesis/thesis-blx.bib
thesis/thesis.bbl
thesis/thesis.bcf
thesis/thesis.run.xml
thesis/thesis.tmb
thesis/journals.aux
thesis/thesis.glg
thesis/thesis.glo
thesis/thesis.gls
thesis/thesis.ist
thesis/versions/
coloremoji.sty/emoji_images/hires/

*-eps-converted-to.pdf
